<div>
    <ol class="list-group list-group-numbered">

        <li id="heb" *ngFor='let tree of list_carpentry'
            class="list-group-item d-flex justify-content-between align-items-start">

            <div class=" ms-2 me-auto">
                <div class="fw-bold">סוג הקרש: {{tree.name_of_Wooden_beam}}</div>

                <div class="parameters">תיאור: {{tree.description}}</div>
                <div *ngFor='let length_price of tree.price_and_existing_lengthes'>
                    <div class="parameters">אורך: {{length_price.length}}</div>
                    <div class="parameters">מחיר: {{length_price.price}}</div>
                </div>
            </div>

            <button (click)='taken_down(tree)' class="btn btn-secondary">
                הסר
            </button>
            <button (click)='add_length_and_price()' class="btn btn-warning">
                הוסף אורך ומחיר לסוג הנוכחי
            </button>
            <div *ngIf='_add===2'>
                <label for="description">הכנס אורך</label>
                <input type="text" id="price" [(ngModel)]="length">

                <label for="price">הכנס מחיר</label>
                <input type="text" id="length" [(ngModel)]="price">

                <button (click)='added_length_and_price(tree)' class="btn btn-Success">
                    עדכן
                </button>
            </div>
        </li>

    </ol>
    <button (click)='add()' class="btn btn-primary">
        add
    </button>
</div>


<div *ngIf='_add===1'>
    <label for="name_of_Wooden_beam">הכנס סוג הקרש</label>
    <input type="text" id="name_of_Wooden_beam" [(ngModel)]="new_tree.name_of_Wooden_beam">

    <label for="length">הכנס אורך הקרש</label>
    <input type="text" id="description" [(ngModel)]="new_tree.description">

    <label for="price">הכנס אורך</label>
    <input type="text" id="length" [(ngModel)]="new_tree.price_and_existing_lengthes[0].length">

    <label for="description">הכנס מחיר</label>
    <input type="text" id="price" [(ngModel)]="new_tree.price_and_existing_lengthes[0].price">

    <button (click)='added()'>
        הוסף לרשימה
    </button>
</div>