<div>
    <ol class="list-group list-group-numbered">

        <li id="heb" *ngFor='let tree of list_carpentry'
            class="list-group-item d-flex justify-content-between align-items-start">

            <div class=" ms-2 me-auto" >
                <div class="fw-bold">סוג הקרש: {{tree.name_of_Wooden_beam}}</div>
                <div class="parameters">אורך: {{tree.length}}</div>
                <div  class="parameters">מחיר: {{tree.price}}</div>
                <div class="parameters">תיאור: {{tree.description}}</div>

            </div>

            <button (click)='taken_down(tree)' class="btn btn-secondary">
                הסר
            </button>
        </li>

    </ol>
    <button (click)='add()'>
        <mat-icon>add </mat-icon>
    </button>
</div>


<div *ngIf='_add'>
    <label for="name_of_Wooden_beam">הכנס סוג הקרש</label>
    <input type="text" id="name_of_Wooden_beam" [(ngModel)]="new_tree.name_of_Wooden_beam">

    <label for="length">הכנס אורך הקרש</label>
    <input type="text" id="length" [(ngModel)]="new_tree.length">

    <label for="price">הכנס מחיר</label>
    <input type="text" id="price" [(ngModel)]="new_tree.price">

    <label for="description">הכנס תיאור</label>
    <input type="text" id="description" [(ngModel)]="new_tree.description">

    <button (click)='added()'>
        הוסף לרשימה
    </button>
</div>