<div id="homepage" *ngIf='enterning==0'>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">הכנס אימייל</label>
        <input type="email" #email class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">הכנס סיסמא</label>
        <input type="password" #password class="form-control" id="exampleInputPassword1">
    </div>
    <div>
        <button type="submit" class="btn btn-primary" (click)='submit(email,password)'>
            שלח
        </button>

        <a href="/login">
            <button type="submit" class="btn btn-primary">איפוס</button>
        </a>
    </div>

</div>


<div *ngIf='enterning==1'>
    <div class="alert alert-success" role="alert">
        נכנסת בהצלחה!
    </div>
    <button type="button" class="btn btn-info" (click)='enter()'>
        הכנס לחשבונך
    </button>
</div>

<div *ngIf='enterning==2'>
    <div class="alert alert-danger" role="alert">
        'טעות בשם משתמש או סיסמא'
    </div>
    <a href="/login">
        <button type="submit" class="btn btn-primary">איפוס</button>
    </a>
</div>

<div *ngIf='enterning==3'>
    <app-carpentry [list_carpentry]='list_carpentry' (add_to_list)='add_to_list($event)'></app-carpentry>
</div>