<div class="page">
    <ol class="list-group list-group-numbered" *ngIf="display_status===0">

        <li id="heb" *ngFor='let tree of typesWoodens'
            class="list-group-item d-flex justify-content-between align-items-start ib">

            <div class=" ms-2 me-auto ib " id="margi">
                <div class="fw-bold ib">סוג הקרש: {{tree.name_of_Wooden_beam}}</div>

                <div class="parameters ib">תיאור: {{tree.description}}</div>

                <fieldset *ngIf="display_status===0">
                    <legend>קיים באורכים</legend>
                    <div *ngFor='let length_price of tree.price_and_existing_lengthes' class="border">

                        <div class="parameters ib">אורך: {{length_price.length}}</div>
                        <div class="parameters ib">מחיר: {{length_price.price}}</div>
                    </div>

                    <button (click)="display_status=2; tree.update=true;" class="btn btn-warning">
                        עדכן
                    </button>
                </fieldset>
            </div>
        </li>
        <button *ngIf='!display_status' (click)='display_status=1' class="btn btn-primary">
            הוסף קרש חדש
        </button>
    </ol>

    <!-- תצוגת אינפוט לעדכון קרשים קיימים -->

    <div *ngIf="display_status===2 || display_status===3">
        <div *ngFor='let tree of typesWoodens'>
            <div *ngIf="tree.update">
                <fieldset>
                    <legend> האורכים הקיימים</legend>

                    <div class=" update">

                        <div *ngFor='let length_price of tree.price_and_existing_lengthes' class="border">

                            <label for="length" class="form-label ib">אורך </label>
                            <input class="form-control ib"  id="length" [(ngModel)]="length_price.length">

                            <label for="price" class="form-label ib">מחיר </label>
                            <input class="form-control ib" id="price" [(ngModel)]="length_price.price">

                            <button (click)='sub_length_and_price(tree , length_price)' class="btn btn-secondary">
                                הסר
                            </button>
                        </div>
                        <div class=" update border" *ngIf="display_status===3">

                            <div class="mb-3 ib">
                                <label for="length" class="form-label ib">אורך </label>
                                <input class="form-control ib" id="length" [(ngModel)]="length">
                            </div>
                            <div class="mb-3 ib">
                                <label for="price" class="form-label ib">מחיר </label>
                                <input class="form-control ib" id="price" [(ngModel)]="price">
                            </div>


                            <button (click)='added_length_and_price(tree); display_status = 2;' class="btn btn-success">
                                שמור
                            </button>
                        </div>
                        <button (click)='taken_down(tree); display_status=0;' class="btn btn-secondary">
                            הסר כל פרטי הקרש הנוכחי
                        </button>

                        <button *ngIf="display_status===2" (click)="display_status=3;" class="btn btn-warning">
                            הוסף אורך חדש
                        </button>



                        <button (click)='added_length_and_price(tree); display_status=0; tree.update=false;'
                            class="btn btn-success">
                            שמור שינויים
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!-- תצוגת אינפוט להוספת קרש חדש -->

<div *ngIf='display_status===1'>
    <fieldset>
        <legend>הכנס פרטי הקרש</legend>
        <label for="name_of_Wooden_beam"> סוג </label>
        <input type="text" id="name_of_Wooden_beam" [(ngModel)]="new_tree.name_of_Wooden_beam">

        <label for="length"> תיאור </label>
        <input type="text" id="description" [(ngModel)]="new_tree.description">

        <label for="price"> אורך</label>
        <input type="text" id="length" [(ngModel)]="new_tree.price_and_existing_lengthes[0].length">

        <label for="description"> מחיר</label>
        <input type="text" id="price" [(ngModel)]="new_tree.price_and_existing_lengthes[0].price">
    </fieldset>
    <button (click)='added(); display_status=0;' class="btn btn-success">
        הוסף לרשימה
    </button>

</div>