<div *ngFor='let obj of shop_and_woodens_objects_list '>

    <div class="card text-center">

        <div class="card-body">
            <h5 class="card-title">{{obj.carpentry_shop_name}}</h5>
            <p class="card-text"> {{obj.adress}}</p>
            <button class="btn btn-primary" (click)="obj.selected? obj.selected = false : obj.selected = true;">
                הצג רשימת הקרשים
            </button>
            <div *ngIf="obj.selected">
                <div *ngFor="let wood of obj.types_of_woodens">
                    <div>{{wood.name_of_Wooden_beam}}</div>
                    <div>{{wood.description}}</div>
                    <div *ngFor="let lengthes of wood.price_and_existing_lengthes">
                        <div> {{lengthes.length}}</div>
                        <div>{{lengthes.price}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>